
@{
    ViewBag.Title = "_Layout2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Intranet Hospital Durand</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/modern-business.css" rel="stylesheet">
    <link href="~/Content/Layout.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    @*<footer class="py-5 bg-dark" id="footer">
        <div class="container">
            <p class="m-0 text-center text-white">Hospital Durand @DateTime.Now.Year</p>
        </div>
    </footer>*@
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>

