<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Intranet Hospital Durand</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/modern-business.css" rel="stylesheet">
    <link href="~/Content/Layout.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Home/PantallaPrincipal">Hospital Durand</a><!--esto tiene que ir al index-->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Estadisticas">Estadisticas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pacientes
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/Home/RegistrarPaciente">Registrar paciente</a>
                            <a class="dropdown-item" href="/Home/BuscarPaciente">Buscar paciente</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Foto Medico <!--Va la foto del medico como button y diria el nombre del medico-->
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item">Nombre y apellido</a> <!--Van los datos reales de la bdd-->
                            <a class="dropdown-item">Especialidad</a>
                            <a class="dropdown-item" href="faq.html">Editar datos</a> <!--Va a una vista de editar datos-->
                            <a class="dropdown-item" href="/Home/Login">Cerrar sesión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>
    @*<div id="footer">
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Hospital Durand @DateTime.Now.Year</p>
            </div>
        </footer>
    </div>*@
    
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>