
@{
    ViewBag.Title = "AgregarMedicamento";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";

}
<div class="container">
    <div class="col-4 col-md-8">
        <h1 class="mt-4 mb-3">
            Agregar Medicamento
        </h1>
    </div>
</div>
@using (@Html.BeginForm("AgregarMedicamentoOK", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Droga:") @Html.DropDownList("Nombre", (IEnumerable<SelectListItem>)ViewBag.drogaList, new { required = "required", @class = "form-control" })
    <p><input type="submit" value="Agregar Visita &raquo;" class="btn btn-outline-dark"></p>
}
        </div>
<div class="col-md-8 float-left">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th scope="col">Droga</th>
                <th scope="col">Dosis</th>
                <th scope="col">Dosis del paciente</th>
                <th scope="col">Formas de observación</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>

    </table>
    <p><input type="submit" value="Agregar Medicamento &raquo;" class="btn btn-outline-dark"></p>
</div>

