@using DURAND.Models
@model Estadistica


@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="container">
    <div class="col-sm-2 col-md-4">
        <h1 class="mt-4 mb-3">
            Estadísticas
        </h1>
    </div>
    <div class="row">
        <div class="col-mb-8">
            <div class="control-group form-group">
                <div class="controls">
                </div>
                Obtener estadística de:@Html.DropDownList("nombreEstadistica", (IEnumerable<SelectListItem>)ViewBag.estadisticaList, new { @class = "form-control" })
            </div>
            <p><input type="button" id="add" value="Obtener &raquo;" class="btn btn-outline-dark"></p>
        </div>
    </div>

    <div id="piechart" style="width: 900px; height: 500px;"></div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $("#add").click(function () {
        $.ajax({
            type: "POST",
            url: "/Home/Estadisticas",
            data: {
                filtro: $("#nombreEstadistica").val()
            },
            success: function (objetos) {
                if (objetos != null) {
                    var jsonData = JSON.parse(objetos);
                    /*Detectamos que el array del JSON no era equivalente al formato que requeria la API de google charts.
                     Encontramos en internet una funcion que transforma el codigo del json parseado a el formato requerido.
                     Fuente: https://stackoverflow.com/questions/43226648/how-to-convert-json-to-google-visualization-datatable */

                    //COMIENZO DEL CODIGO ---------------------------------------------------------
                    var gglData = [];
                    if (jsonData.length > 0) {
                        // load column headings (el nombre del dato)
                        var colHead = [];
                        Object.keys(jsonData[0]).forEach(function (key) {
                            colHead.push(key);
                        });
                        gglData.push(colHead);

                        // load data rows (el dato en si --> el valor del nombre y el valor del valor)
                        jsonData.forEach(function (row) {
                            var gglRow = [];
                            Object.keys(row).forEach(function (key) {
                                gglRow.push(row[key]);
                            });
                            gglData.push(gglRow);
                        });
                    }
                    //FIN DEL CODIGO OBTENIDO ---------------------------------------------------------


                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {

                        var data = google.visualization.arrayToDataTable(gglData);


                        var options = {
                            title: 'Estadística'
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                        chart.draw(data, options);
                    }
                }
            }
        });
    });

</script>